data_dir  = "/var/nomad"

bind_addr = "{{ ansible_eth0.ipv4.address }}"

client {
  enabled = true
  network_interface = "eth0"
  meta {
    role = "persitence"
 }
 host_volume "db" {
    path      = "/opt/db"
    read_only = false
  }
}

options {
   "docker.privileged.enabled" = "true"
   "docker.volumes.enabled" = "true"
}
telemetry {
  collection_interval = "1s",
  prometheus_metrics = true,
  publish_allocation_metrics = true,
  publish_node_metrics = true
}


